<!DOCTYPE html>
<html>
  <head>
    <title>Cat Facts!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Heres a fact:</h1>
    <h3><%= fact %></h3>
    <a href="/cats/fact">Get another cat fact!</a>
  </body>
</html>
