<!DOCTYPE html>
<html>
  <head>
    <title>Cat Facts!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="https://github.com/ga-sei-lessons/consuming-apis-lab-solution/blob/main/assets/cats-header.png?raw=true" alt="" height="300">
    <h1>Home to facts about cats!</h1>
    <a href="/cats/fact">Get a cat fact!</a>
  </body>
</html>
