<!DOCTYPE html>
<html>
  <head>
    <title>Cat Facts!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home to facts about cats!</h1>
    <a href="/cats/fact">Get a cat fact!</a>
  </body>
</html>
